{{ define "main" }}
  <h1>{{ .Title }}</h1>

  <!-- {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} -->
  <!-- {{ $dateHuman := .Date | time.Format ":date_long" }} -->
  <!-- <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time> -->

  {{ .Content }}
  {{ $image := resources.Get "images/about.jpg" }}
  {{ $image2 := resources.Get "images/about2.jpg" }}

  <img src='{{ ( $image.Resize "500x" ).RelPermalink }}' />
  <img src='{{ ( $image2.Resize "500x" ).RelPermalink }}' />

  <!-- {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }} -->
{{ end }}
